<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='js/bower_components/bootstrap/dist/css/bootstrap.min.css') }}"/>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='js/bower_components/bootstrap/dist/css/bootstrap-theme-flatly.min.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/bower_components/font-awesome/css/font-awesome.min.css') }}">