{% extends "base.html" %}

{% block javascript %}
    <script type="text/javascript">

    </script>
{% endblock %}

{% block body_content %}
    <form class="form login-form" method="post">
        {{ form.csrf_token }}

        {{ macros.render_form_field(form.email) }}
        {{ macros.render_form_field(form.password) }}

        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                登陆
            </button>

            <a href="{{ url_for('auth.register') }}" class="btn">
                注册
            </a>
        </div>
    </form>
{% endblock %}