{% extends "base.html" %}

{% block javascript %}
    <script type="text/javascript">

    </script>
{% endblock %}

{% block body_content %}
    <div class="login-div">
        <form class="form" method="post">
            {{ form.csrf_token }}

            <div class="form-group">
                <label>邮箱</label>
                {{ form.email(class="form-control", placeholder=form.email.description) }}

                {% if form.errors.email %}
                    <p class="text-danger">{{ form.errors.email[0] }}</p>
                {% endif %}
            </div>

            <div class="form-group">
                <label>密码</label>
                {{ form.password(class="form-control", placeholder=form.password.description) }}
                {% if form.errors.password %}
                    <p class="text-danger">{{ form.errors.password[0] }}</p>
                {% endif %}
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    登陆
                </button>
            </div>
        </form>
    </div>
{% endblock %}